@font-face {
  font-family: "SwitzerBlackItalic";
  src: url("./assets/fonts/Switzer-BlackItalic.woff");
}

@font-face {
  font-family: "BoskaExtralight";
  src: url("./assets/fonts/Boska-Extralight.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Boska", serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: SwitzerBlackItalic; */
  font-family: BoskaExtralight;
}
