@font-face {
  font-family: "Switzer Variable";
  src: url("./assets/fonts/Switzer-Variable.ttf");
}

@font-face {
  font-family: "Boska Variable";
  src: url("./assets/fonts/Boska-Variable.ttf");
}

@font-face {
  font-family: "Boska-Italic";
  src: url("./assets/fonts/Boska-VariableItalic.ttf");
}

:root {
  --primary-color: #75ff69;
  --primary-bg: #1b3936;
  --secondary-bg: #f9f9f9;
  --text-color: #1b3936;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Boska", serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: SwitzerBlackItalic; */
  /* font-family: BoskaExtralight; */
  text-decoration: none;
}

body {
  width: 1440px;
  margin: auto;
  /* background-color: #1e1e1e; */
}

/* ====================================== Common Styles ==================================== */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ====================================== Start Header Styles ==================================== */
header {
  height: 1079px;
  background-color: var(--primary-bg);
  position: relative;
  z-index: 0;
  padding-top: 29px;
  overflow: hidden;
}

/* ========= Start Nabbar styles =========== */
header nav {
  width: 1214px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 81px 0 145px;
}

header nav a {
  font-family: Switzer Variable;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.76px;
  color: white;
}

header nav #left-items a:first-child {
  margin-right: 54px;
}

header nav #right-items a:first-child {
  margin-right: 41px;
}

header nav img {
  width: 168px;
  height: 33px;
}
/* ========== End Navbar Styles =========== */

.hero-section .dash-circle {
  width: 1188px;
  height: 1188px;
  top: -87.45px;
  left: 126px;
  bottom: -30px;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='50%25' ry='50%25' stroke='rgba(117%2c 255%2c 105%2c 0.5)' stroke-width='3' stroke-dasharray='15px%2c 15px' stroke-dashoffset='86' stroke-linecap='butt'/%3e%3c/svg%3e");

  /* border-radius: 100px; */
}

.dash-circle img {
  height: 570px;
  width: 570px;
  position: absolute;
  z-index: -10;
}

.dash-circle .hero-info {
  width: 1070px;
  height: 724px;
  z-index: 10;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dash-circle .hero-info h1 {
  font-family: Boska Variable;
  margin-top: 50px;
}

.dash-circle .hero-info h1 span {
  display: block;
  text-align: center;
}

.dash-circle .hero-info h1 span:first-child,
.dash-circle .hero-info h1 span:nth-child(2),
.dash-circle .hero-info h1 span:last-child {
  font-size: 262px;
  font-weight: 400;
  line-height: 161.76px;
}

.dash-circle .hero-info h1 span:nth-child(2) {
  text-align: right;
  margin: 50px -120px 40px 0;
  font-family: Boska-Italic;
  font-style: italic !important;
  color: var(--primary-color);
}

.dash-circle .hero-info h1 span:nth-child(3) {
  font-size: 32px;
  font-weight: 700;
  line-height: 41.6px;
  margin-bottom: -20px;
}

.dash-circle .hero-info p {
  width: 570px;
  height: 72px;
  font-family: Switzer Variable;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.76px;
  text-align: center;
  margin-top: 50px;
}

.dash-circle div:last-child {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: var(--primary-bg);
  position: absolute;
  top: 50%;
  right: -55px;
  z-index: 0;
}

.dash-circle div > button {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
  position: relative;
  border: none;
}

.dash-circle div > button::after {
  content: "";
  inset: -8px;
  border-radius: 50%;
  background-color: #23746b;
  position: absolute;
  z-index: -1;
}

.dash-circle div > button img {
  width: 17px;
  height: auto;
  z-index: 10;
}
/* ====================================== End Header Styles ==================================== */

/* ================================ Start Company Info Styles ================================ */
section.company-info {
  width: 100%;
  height: 850px;
  padding: 107px 0 0 105px;
  background-color: var(--secondary-bg);
  display: flex;
  gap: 207px;
  color: var(--text-color);
}

section.company-info .logo-para-container img {
  width: 203px;
}

section.company-info .logo-para-container p {
  width: 609px;
  font-family: Switzer Variable;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.68px;
  margin-top: 30px;
}

section.company-info .cabin-data {
  display: flex;
  flex-direction: column;
  gap: 104px;
}

section.company-info .cabin-data > div h2 {
  font-family: Boska Variable;
  font-size: 100px;
  font-weight: 700;
  line-height: 130px;
  text-align: left;
  margin-top: -25px;
}

section.company-info .cabin-data > div > p,
section.company-info .cabin-data > div h2 > span {
  font-family: Switzer Variable;
  font-size: 24px;
  line-height: 31.68px;
  font-weight: 400;
  margin-left: -5px;
}
/* ================================ End Company Info Styles ================================= */

/* ================================ Start Image section Styles ================================= */
section.image-container {
  width: 100%;
  height: 850px;
}

section.image-container > img {
  width: 100%;
  height: 100%;
}
/* ================================ End Image section Styles ================================= */

/* ================================ Start About section Styles ================================= */
section.about {
  height: 1737px;
  width: 100%;
  background-color: var(--primary-bg);
  padding: 233px 178px 0 178px;
  position: relative;

  background-image: url("./assets//images/about3.png"),
    url("./assets//images/about4.png"), url("./assets//images/about2.png"),
    url("./assets//images/about1.png");
  background-position:
    38px 321px,
    978px 76px,
    882px 980px,
    149px 948px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: contain, contain, contain, contain;
  background-size:
    401px 342px,
    401px 526px,
    401px 531px,
    401px 531px;
}

section.about > h5 {
  font-family: Switzer Variable;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.68px;
  color: var(--primary-color);
  text-align: center;
}

section.about > p {
  font-family: Boska Variable;
  font-size: 68px;
  font-style: italic;
  font-weight: 400;
  line-height: 88.4px;
  text-align: center;
  color: #678784;
  text-transform: capitalize;
}

section.about > p > span {
  color: white;
}

section.about > img {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* ================================ End About section Styles ================================= */

/* ============================= Start Unique Rooms section Styles =============================== */
section.unique-rooms {
  height: 1496px;
  background-color: var(--secondary-bg);
  padding-top: 173px;
}

section.unique-rooms h2 {
  margin-left: 125px;
  font-family: Boska Variable;
  font-size: 68px;
  font-weight: 400;
  line-height: 88.4px;
}

section.unique-rooms .cabins {
  margin: 145px 21px 0 21px;
  display: flex;
  align-items: center;
  gap: 30px;
}

section.unique-rooms .cabins .cabin:first-child,
section.unique-rooms .cabins .cabin:last-child {
  width: 378px;
  height: 505px;
  position: relative;
}

section.unique-rooms .cabins .cabin:nth-child(2) {
  width: 582px;
  height: 778.32px;
  position: relative;
}

section.unique-rooms .cabins .cabin > div,
section.unique-rooms .cabins .cabin > img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

section.unique-rooms .cabins .cabin > div {
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

section.unique-rooms .cabins .cabin:first-child > div,
section.unique-rooms .cabins .cabin:last-child > div {
  padding: 0 0 54px 39px;
  font-family: Boska Variable;
  font-size: 32.11px;
  font-weight: 400 !important;
  line-height: 41.75px;
}

section.unique-rooms .cabins .cabin:nth-child(2) > div {
  flex-direction: row;
  align-items: end;
  justify-content: start;
  gap: 57px;
  padding: 0 0 51px 60px;
}

section.unique-rooms .cabins .cabin:nth-child(2) > div .cabin-info h3 {
  font-family: Boska Variable;
  font-size: 68px;
  font-weight: 500;
  line-height: 88.4px;
}

section.unique-rooms .cabins .cabin:nth-child(2) > div .cabin-info p {
  font-family: Switzer Variable;
  font-size: 18px;
  line-height: 23.76px;
  width: 381px;
}

section.unique-rooms .cabins .cabin:nth-child(2) > div > img {
  width: 43px;
  height: 47px;
  margin-bottom: 65px;
}
/* ============================== End Unique Rooms section Styles ================================ */
